<%= javascript_include_tag 'stations' %>
<%= stylesheet_link_tag 'search' %>
<% provide(:title, 'Station Configuration') %>

<h1>Test Stations</h1>
<div class="result">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="highlights">
          <th>Network Name</th>
          <th>Station Name</th>
          <th>IP</th>
          <th>Port</th>
          <th>Browse</th>
        </tr>
      </thead>
      <tbody><%= raw @station_list_html %></tbody>
    </table>
  </div>
</div>

<h1>Machine Configuration</h1>
<div class="col-xs-offset-2">
  <div id="machine_config_msg"></div>
  <div class="form-horizontal">
    <div class="form-group">
      <%= label_tag(:station_name, 'Station Name', class: 'col-sm-3 control-label') %>
      <div class="col-sm-5">
        <%= text_field_tag(:station_name, @station_name, class: 'form-control') %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:network_name, 'Network Name', class: 'col-sm-3 control-label') %>
      <div class="col-sm-5">
        <%= text_field_tag(:network_name, @network_name, disabled: true, class: 'form-control') %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:ip_address, 'IP', class: 'col-sm-3 control-label') %>
      <div class="col-sm-5">
        <%= text_field_tag(:ip_address, @ip_address, class: 'form-control') %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:port, 'Port', class: 'col-sm-3 control-label') %>
      <div class="col-sm-5">
        <%= number_field_tag(:port, @port, min: 0, max: 65535, class: 'form-control') %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-3">
        <%= submit_tag('Save', class: 'btn btn-success', type: 'button', id: 'btn_machine_config') %>
      </div>
    </div>
  </div>
</div>
