<%
   env_options = ['QA', 'QA'], ['PROD', 'PROD']
   locale_options = ['US', 'US'], ['CA', 'CA'], ['UK', 'GB'], ['IE', 'IE'], ['AU', 'AU'], ['fr_CA', 'FR_CA']
   pin_type_options = ['redeemValueCard', 'Value Card'], ['redeemGiftPackages', 'Gift Packages'], ['redeemGiftValue', 'Gift Value']
%>

<% provide(:title, 'PIN Redemption') %>
<div class="col-xs-offset-3">
  <div class="content-header">
    <div class="header-inner">
      <h2>PIN Redemption</h2>
    </div>
  </div>
  <%= form_tag({ controller: 'pins', action: 'create' }, method: 'post', class: 'form-horizontal') do %>
    <%= tc_radio_buttons_group :env, 'Environment', env_options %>
    <%= tc_radio_buttons_group :locale, 'Locale', locale_options %>
    <%= tc_text_input_group :email, 'Account email', '', placeholder: 'e.g. example@abc.com' %>
    <%= tc_radio_buttons_group :type_pin, 'PIN\'s Type', pin_type_options %>
    <%= tc_text_area_group :lf_pin, 'PINs', '', '25x10' %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <%= submit_tag('Redeem PINs', class: 'btn btn-success js-validate-env-locale js-validate-redeem-pin') %>
      </div>
    </div>
  <% end %>
</div>
